.input-validation-error {
    background-color: #FFD6D6 !important;
}

.field-validation-error {
    font-size: 12px;
    color: #FF4242;
    font-weight: bold;
    clear: both;
    display: block;
    margin-top: -10px;
    margin-bottom: 5px;
}