@{
    ViewBag.Title = "Home Page";
}

<h2>Painel de gerenciamento</h2>
<div class="row-fluid">
    <div class="span6">
        <h5>Estado</h5>
        @Html.ActionLink("Gerenciar Estados", "Index", "Estado", null, new { @class = "btn btn-large btn-primary" })
    </div>
    <div class="span6">
        <h5>Cidade</h5>
        @Html.ActionLink("Gerenciar Cidades", "Index", "Estado", null, new { @class = "btn btn-large btn-primary" })
    </div>
</div>
